[submodule "libs/libopencm3"]
	path = libs/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "utils/linker-map-summary"]
	path = utils/linker-map-summary
	url = https://github.com/amamory/linker-map-summary.git
